spring:
  profiles:
    active: local
  jpa:
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs

logging:
  pattern:
    console: "[%d{yyyy-MM-dd HH:mm:ss}] [%level] [%X{requestId:-}] [%logger{36}] %msg%n"
